@page { 
	margin : 0; 
	size   : 8.5in 11in;
}

.page {
	page-break-before : always;
	page-break-after  : always;
	display          : flex;
	flex-direction   : column;
	height           : 100%;
	overflow-y       : auto;
}
